LiamBaronAdvJavaProject/ClientPizza/src/wsdl/localhost_8080/PizzaStore/DatabaseWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pizzaLore/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pizzaLore/" name="DatabaseWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://pizzaLore/" schemaLocation="http://localhost:8080/PizzaStore/DatabaseWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="address">
<part name="parameters" element="tns:address"/>
</message>
<message name="addressResponse">
<part name="parameters" element="tns:addressResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="prodTypes">
<part name="parameters" element="tns:prodTypes"/>
</message>
<message name="prodTypesResponse">
<part name="parameters" element="tns:prodTypesResponse"/>
</message>
<message name="orderInfo">
<part name="parameters" element="tns:orderInfo"/>
</message>
<message name="orderInfoResponse">
<part name="parameters" element="tns:orderInfoResponse"/>
</message>
<message name="products">
<part name="parameters" element="tns:products"/>
</message>
<message name="productsResponse">
<part name="parameters" element="tns:productsResponse"/>
</message>
<message name="homePage">
<part name="parameters" element="tns:homePage"/>
</message>
<message name="homePageResponse">
<part name="parameters" element="tns:homePageResponse"/>
</message>
<message name="orderDetails">
<part name="parameters" element="tns:orderDetails"/>
</message>
<message name="orderDetailsResponse">
<part name="parameters" element="tns:orderDetailsResponse"/>
</message>
<message name="sales">
<part name="parameters" element="tns:sales"/>
</message>
<message name="salesResponse">
<part name="parameters" element="tns:salesResponse"/>
</message>
<message name="addProduct">
<part name="parameters" element="tns:addProduct"/>
</message>
<message name="addProductResponse">
<part name="parameters" element="tns:addProductResponse"/>
</message>
<portType name="DatabaseWebService">
<operation name="address">
<input wsam:Action="http://pizzaLore/DatabaseWebService/addressRequest" message="tns:address"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/addressResponse" message="tns:addressResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://pizzaLore/DatabaseWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="prodTypes">
<input wsam:Action="http://pizzaLore/DatabaseWebService/prodTypesRequest" message="tns:prodTypes"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/prodTypesResponse" message="tns:prodTypesResponse"/>
</operation>
<operation name="orderInfo">
<input wsam:Action="http://pizzaLore/DatabaseWebService/orderInfoRequest" message="tns:orderInfo"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/orderInfoResponse" message="tns:orderInfoResponse"/>
</operation>
<operation name="products">
<input wsam:Action="http://pizzaLore/DatabaseWebService/productsRequest" message="tns:products"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/productsResponse" message="tns:productsResponse"/>
</operation>
<operation name="homePage">
<input wsam:Action="http://pizzaLore/DatabaseWebService/homePageRequest" message="tns:homePage"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/homePageResponse" message="tns:homePageResponse"/>
</operation>
<operation name="orderDetails">
<input wsam:Action="http://pizzaLore/DatabaseWebService/orderDetailsRequest" message="tns:orderDetails"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/orderDetailsResponse" message="tns:orderDetailsResponse"/>
</operation>
<operation name="sales">
<input wsam:Action="http://pizzaLore/DatabaseWebService/salesRequest" message="tns:sales"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/salesResponse" message="tns:salesResponse"/>
</operation>
<operation name="addProduct">
<input wsam:Action="http://pizzaLore/DatabaseWebService/addProductRequest" message="tns:addProduct"/>
<output wsam:Action="http://pizzaLore/DatabaseWebService/addProductResponse" message="tns:addProductResponse"/>
</operation>
</portType>
<binding name="DatabaseWebServicePortBinding" type="tns:DatabaseWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="address">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prodTypes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="products">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="homePage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="orderDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DatabaseWebService">
<port name="DatabaseWebServicePort" binding="tns:DatabaseWebServicePortBinding">
<soap:address location="http://localhost:8080/PizzaStore/DatabaseWebService"/>
</port>
</service>
</definitions>